.sprite {
    background-image: url(../assets/images/icons/sp.png);
}

body {
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

a, input, textarea {
    outline: none;
}

.italic {
    font-style: italic;
}

.forum-color {
    color: #202020;
}

.red-background {
    background-color: rgb(165, 44, 44) !important;
}

.green-background {
    background-color: rgb(77, 204, 98) !important;
}

.full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.expand-button:hover {
    color: #03A9F4;
}

.fade-loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
}

.zi1 {
    z-index: 1;
}

.zi12 {
    z-index: 12;
}

.zi100 {
    z-index: 20;
}

.parent-height {
    height: 100%;
}

.opacity0 {
    opacity: 0;
}

.opacity1 {
    opacity: 1;
}

.scrollx {
    overflow-x: scroll;
}

.scrolly {
    overflow-y: scroll;
}

.half-opcaity {
    opacity: 0.5;
}

.loading-dots-anim {
    letter-spacing: 1.4px;
    font-size: 12px !important;
}

.light-border {
    border: 1px solid #eaeaea;
    border-radius: 4px;
}

.light-border:hover {
    background-color: #eaeaea;
}

.br6 {
    border-radius: 6px;
}

.br4 {
    border-radius: 6px;
}

.br4-first {
    border-radius: 4px 0 0 4px;
}

.br4-last {
    border-radius: 0 4px 4px 0;
}

.fs20 {
    font-size: 20px;
}

.fs26 {
    font-size: 26px;
}

.fs18 {
    font-size: 18px !important;
}

.fs19 {
    font-size: 19px !important;
}

.fs17 {
    font-size: 17px;
}

.fs16 {
    font-size: 16px !important;
}

.fs15 {
    font-size: 15px;
}

.fs14 {
    font-size: 14px !important;
}

.fs13 {
    font-size: 13px !important;
}

.fs12 {
    font-size: 12px !important;
}

.fs11 {
    font-size: 11px !important;
}

.fs10 {
    font-size: 10px !important;
}

.mr8 {
    margin-right: 8px !important;
}

.mr4 {
    margin-right: 4px !important;
}

.ml4 {
    margin-left: 4px !important;
}

.ml8 {
    margin-left: 8px !important;
}

.m4 {
    margin: 4px;
}

.p8 {
    margin: 8px;
}

.p4 {
    padding: 4px;
}

.error-container {
    padding: 12px;

    background-color: rgb(242, 211, 211);
    border-radius: 4px;
    border: 1px solid rgb(200, 138, 138);
}

.error-message {
    margin: 0;
    color: rgb(68, 5, 5);
    font-size: 13px;
    font-weight: bold;
}

.error {
    color: rgb(228, 48, 48);
    margin: 3px 0;
    font-size: 13px;
}

#global-error {
    display: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}

.none {
    display: none !important;
}

.height-max-content {
    height: max-content;
}

.width-max-content {
    width: max-content;
}

.left8 {
    left: 8px;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.justify-center {
    justify-content: center;
}

.move-to-right {
    margin-left: auto !important;
}

.move-to-bottom {
    margin-top: auto !important;
}

.full-height {
    height: 100%;
    box-sizing: border-box;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.full-dimensions {
    height: 100%;
    width: 100%;
}

.half-width {
    width: 50%;
    box-sizing: border-box;
}

.move-to-middle {
    margin: 0 auto;
}

.left0 {
    left: 0px;
}

.left100 {
    left: 100%;
}

.right0 {
    right: 0;
}

.right100 {
    right: 100%;
}

.top0 {
    top: 0;
}

.bottom0 {
    bottom: 0;
}

.rmb-selected {
    background-color: #009fffad !important;
    color: white !important;
    font-weight: bold;
}

.rmb-selected:hover {
    background-color: #009fffad !important;
}

.regular-menu-button {
    display: block;
    margin: 0 2px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: black;
    font-size: 14px;
    background-color: rgb(240, 240, 240);
}

.regular-menu-button:hover {
    background-color: rgb(233, 233, 233);
}

.menu-botton-bottm-strip {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;
    background-color: rgb(255, 195, 67);
}

.fill-thin-line {
    width: 100%;
    height: 1px;
    margin: 0 2px;
    background-color: #e3e3e3;
}

.border-box {
    box-sizing: border-box;
}

.mx4 {
    margin-left: 4px !important;
    margin-right: 4px !important;
}

.my4 {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

.mx8 {
    margin-left: 8px;
    margin-right: 8px;
}

.my8 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.mt4 {
    margin-top: 4px !important;
}

.mt8 {
    margin-top: 8px !important;
}

.mb4 {
    margin-bottom: 4px !important;
}

.mb8 {
    margin-bottom: 8px !important;
}

.pb8 {
    padding-bottom: 8px !important;
}

.pr8 {
    padding-right: 8px !important;
}

.px4 {
    padding-left: 4px;
    padding-right: 4px;
}

.py4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.px8 {
    padding-left: 8px;
    padding-right: 8px;
}

.py8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.black {
    color: black;
}

.small-dropdown {
    font-size: 12px;   
    padding: 2px;
    border-radius: 4px;
    border: 1px solid rgb(175, 175, 175);
}

.basic-dropdown {
    padding: 3px;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid rgb(175, 175, 175);
}

.simple-suboption {
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.simple-suboption:hover {
    background-color: #f4f4f4;
}

.suboption-style-1 {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    font-weight: bold;
    color:#131313;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.6s background-color;
}

.suboption-style-1:hover {
    color: black;
    background-color: rgb(236, 236, 236);
}

.light-border-bottom {
    border-bottom: 1px solid rgb(225, 225, 225);
}

.menu-separator {
    color: white;
    margin: 0 4px;
}

.menu-separator2 {
    color: white;
    font-size: 13px;
    margin: 0 3px;
}

.white {
    color: white !important;
}

.blue {
    color: #2ca0ff !important;
}

.blue-background {
    background-color: #2d8aee !important;
}

.gray {
    color: rgb(63, 63, 63) !important;
}

.light-gray {
    color: rgb(216, 216, 216);
}

.no-margin {
    margin: 0;
}

.show-post-container {
    display: none;
}

.search-forum {
    display: flex;
    margin: 0 10px
}

.search-field {
    padding: 7px 16px;
    padding-left: 32px;

    font-size: 13px;
    
    min-width: 270px;
    border-radius: 4px;
    border: none;
    background-color: rgb(240, 240, 240);

    transition: 0.2s ease background-color;
}

.search-field:focus {
    background-color: white;
}

.search-button {
    display: flex;
    cursor: pointer;
    border: none;
    background-color: rgb(103, 170, 255);
    color: white;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 10px;

    margin-left: -10px;
}

.search-button:hover {
    background-color: rgb(75, 137, 218);
}

#search-and-login {
    margin-right: 16px;
}

.background-partial {
    padding-left: 28px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 6px center;
}

.button-right-icon {
    padding: 7px 24px 7px 12px;
    color: white;
    background-color: #353946;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 4px;

    background-size: 22px;
    background-repeat: no-repeat;
    background-position: right 3px center;
}

.button-right-icon:hover {
    background-color: #202020;
}

.background-partial-1 {
    padding-left: 42px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.login-icon {
    background-position: 0px -138px;
}

.general-icon {
    background-position: 0px -480px;
}

.bb-icon {
    background-position: -0px -384px;
}

.calisthenics-icon {
    background-position: -0px -320px;
}

.tennis-icon {
    background-position: -0px -416px;
}

.football-icon {
    background-position: -0px -512px;
}

.more-icon {
    background-image: url(../assets/images/icons/more.png);
}

.report-icon {
    background-image: url(../assets/images/icons/report.png);
}

.up-icon {
    background-image: url(../assets/images/icons/up-arrow.png);
}

.down-icon {
    background-image: url(../assets/images/icons/down-arrow.png);
}

.report-icon {
    background-image: url(../assets/images/icons/report-red.png);
}

.reply-icon {
    background-image: url(../assets/images/icons/reply.png);
}

.discussion-icon {
    background-image: url(../assets/images/icons/disc.png);
}

.right-arrow-icon {
    background-position: -0px -319px;
}

/* -------------------- NEW SPRITE -------------------- */

.languages24-icon {
    background-position: 0px -24px;
}

.more7-icon {
    background-position: 0px -504px;
}

.forums20-icon {
    background-position: -20px -40px;
}

.rating20-icon {
    background-position: 0px -360px;
}

.menu20-icon {
    background-position: 20px -2440px;
}

.greentick20-icon {
    background-position: 20px -2540px;
}

.binbox28-icon {
    background-position: 0px -476px;
}

.vote28-icon {
    background-position: 28px -980px;
}

.message17-icon {
    background-position: 17px 0px;
}

.english17-flag {
    background-position: -17px -102px;
}

.french17-flag {
    background-position: 0px -119px;
}

.ma-arabic17-flag {
    background-position: 0px -102px;
}

.profile17-icon {
    background-position: 0px -34px;
}

.wprofile20-icon {
    background-position: -20px -80px;
}

.activities17-icon {
    background-position: 0px -153px;
}

.help17-icon {
    background-position: 0px -170px;
}

.settings17-icon {
    background-position: 0px -51px;
}

.logout17-icon {
    background-position: 0px -187px;
}

.discussion17-icon {
    background-position: 0px -40px;
}

.statistics17-icon {
    background-position: 17px -1207px;
}

.fire20-icon {
    background-position: 0px -60px;
}

.market20-icon {
    background-position: -20px -60px;
}

.inbox17-icon {
    background-position: -20px -340px;
}

.reply17-icon {
    background-position: 0px -17px;
}

.replyfilled17-icon {
    background-position: 17px 1411px;
}

.eye17-icon {
    background-position: 0px -374px;
}

.eyecrossed17-icon {
    background-position: 17px -390px;
}

.resource17-like-gicon {
    background-position: 0px -357px;
}

.resource17-like-ricon {
    background-position: -17px -357px;
}

.delete17b-icon {
    background-position: -17px -408px;
}

.disablenotif17b-icon {
    background-position: 0px -425px;
}

.enablenotif17b-icon {
    background-position: -17px -425px;
}

.forums17-icon {
    background-position: 0px -2057px;
}

.clock17-icon {
    background-position: 0px -2074px;
}

.author17-icon {
    background-position: 0px -238px;
}

.pen17-icon {
    background-position: 17px -475px;
}

.report17-icon {
    background-position: 17px -492px;
}

.report17filled-icon {
    background-position: 17px -509px;
}

.repliesoff17-icon {
    background-position: 17px -68px;
}

.votes17-icon {
    background-position: 0px -1360px;
}

.upvoted17-icon {
    background-position: 0px -1377px;
}

.downvoted17-icon {
    background-position: 17px -1377px;
}

.upvote17-icon {
    background-position: 0px -1343px;
}

.upvote20-icon {
    background-position: 0px -1580px;
}

.upvotefilled17-icon {
    background-position: 17px -1343px;
}

.upvotefilled20-icon {
    background-position: 20px -1580px;
}

.downvotefilled17-icon {
    background-position: 17px -1326px;
}

.downvotefilled20-icon {
    background-position: 20px -1560px;
}

.downvote17-icon {
    background-position: 0px -1326px;
}

.bookmark17-icon {
    background-position: 0px -1411px;
}

.xbookmark17-icon {
    background-position: 17px -1411px;
}

.tick17-icon {
    background-position: 0 -1445px;
}

.wsearch20-icon {
    background-position: 20px -20px;
}

.downvote20-icon {
    background-position: 0px -1560px;
}

.resource24-reply-icon {
    background-position: 0px -455px;
}

.resource24-vote-icon {
    background-position: 0px -480px;
}

.followfilled24-icon {
    background-position: 0px -312px;
}

.notification24-icon {
    background-position: -24px -456px;
}

.resource24-like-icon {
    background-position: -24px -480px;
}

.warning24-icon {
    background-position: 0px -290px;
}

.menu24-icon {
    background-position: 0px -552px;
    border-radius: 50%;
    border: 1px solid gray;
}

.menu24b-icon {
    background-position: -20px -552px;
    border-radius: 50%;
    border: 1px solid gray;
}

.adv24-icon {
    background-position: 0px -624px;
}

.image24-icon {
    background-position: 0px -384px;
}

.video24-icon {
    background-position: 24px -432px;
}

.public18-icon {
    background-position: 0px -1314px;
}

.followers18-icon {
    background-position: 0px -1332px;
}

.private18-icon {
    background-position: 0px -1350px;
}

.follow14-icon {
    background-position: 14px -798px;
}

.followed14-icon {
    background-position: 14px -784px;
}

.public14-icon {
    background-position: 0px -392px;
}

.closed14-icon {
    background-position: 12px -1295px;
}

.private14-icon {
    background-position: 0px -420px;
}

.followers14-icon {
    background-position: 0px -406px;
}

.votes14-icon {
    background-position: 14px -1287px;
}

.nofollow36-icon {
    background-position: 0 -144px;
}

.notfound36-icon {
    background-position: 0 -180px;
}

/* ----------------------------------------------------- */

.wedit-icon {
    background-position: -0px -60px;
}

.wmenu-icon {
    background-image: url(../assets/images/icons/wmenu.png);
}

.edit-icon {
    background-image: url(../assets/images/icons/edit.png);
}

.bedit-icon {
    background-position: 0 -340.9px;
}

.bdelete-icon {
    background-position: 0 -359.9px;
}

.calendar-icon {
    background-image: url(../assets/images/icons/calendar.png);
}

.feather-icon {
    background-image: url(../assets/images/icons/feather.png);
}

.qst-icon {
    background-image: url(../assets/images/icons/qst.png);
}

.bqst-icon {
    background-position: -0px -359px;
}

.popular-icon {
    background-position: -0px -298px;
}

.users-icon {
    background-position: 0 0;
}

.user-container-image {
    width: 46px;
    height: 46px;

    border-radius: 50%;
    background-color: #393d4e;
}

.user-container-username {
    margin: 0 3px;
    color: #2ca0ff;
    text-decoration: none;
}

.user-container-line-separator {
    margin: 6px 0;
    height: 1px;
    background-color: #ececec;
}

.button-container {
    display: none;
    opacity: 0;
    z-index: 10;
    max-width: 500px;
    width: max-content;

    transition: 1s ease opacity;
}

.button-container-style {
    z-index: 10;
    top: 100%;
    border: 1px solid rgb(223, 223, 223);
    background-color: #fdfdfd;
    border-radius: 3px;
    padding: 10px;
}

.button-container-style-2 {
    top: 120%;
}

.button-simple-container {
    display: flex;
    align-items: center;
    background-color: #cbe8ff;
    border-radius: 4px;
    padding: 6px;
}

.basic-input {
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    padding: 5px 6px;
    font-size: 13px;
    border: 1px solid gray;
    border-radius: 4px;
}

.simple-input {
    box-sizing: border-box;
    height: 24px;
    border-radius: 4px 0 0 4px;
    padding: 3px 4px;
    border: 1px solid gray;
}

.input-button-style {
    margin-left: -2px;
    font-size: 12px;
    box-sizing: border-box;
    height: 24px;
    display: flex;
    border-radius: 0 4px 4px 0;
    padding: 2px 5px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    text-decoration: none;
}

.suboptions-container {
    z-index: 5;
    display: none;
}

.suboptions-buttons-b-style {
    align-items: center;
    position: absolute;
    top: calc(100% - 2px);
    padding: 4px;
    min-width: 132px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #363945;
}

.suboption-b-style {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 13px;
    border-radius: 4px;
    padding: 10px 10px;
    transition: 0.6s ease background-color;
}

.suboption-b-style:hover {
    background-color: #4d5264;
}

.suboptions-buttons-style {
    align-items: center;
    position: absolute;
    top: 37px;
    width: 200px;
    background-color: #363945;
    border-top: 1px solid #62687e;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.suboptions-account-style {
    position: absolute;
    top: 44px;
    right: 0;
    width: 180px;
    background-color: white;
    border: 1px solid rgb(177, 177, 177);
    border-top: unset;
}

.suboptions-above-button-style {
    position: absolute;
    bottom: calc(100% + 2px);
    left: 0;
    padding: 6px 8px;
    background-color: white;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 6px;
}

.above-middle-suboption-triangle {
    z-index: 0;
    position: absolute;
    bottom: -14px;
    left: 6px;
    border-color: transparent transparent #a6a6a6 transparent;
    border-style: solid;
    border-width: 7px 7px 7px 7px;
    height: 0px;
    width: 0px;
    display: inline-block;
    transform: rotate(-180deg);
}

.triangle {
    z-index: 0;
    top: -12px;
    right: 15px;
    position: absolute;
    border-color: transparent transparent #ffffff transparent;
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    height: 0px;
    width: 0px;
    display: inline-block;
}

.full-shadowed {
    z-index: 80;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.78);
}

.close-shadowed-view {
    position: absolute;
    display: block;

    top: 30px;
    right: 30px;

    height: 36px;
    width: 36px;

    border-radius: 50%;

    background-image: url(../assets/images/icons/wx.png);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.4s ease background-color;
}

.close-shadowed-view:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.shadowed-view-section-style {
    margin: 20px auto 0 auto;
    width: 50%;
    background-color: #fdfdfd;
    padding: 20px;
    border-radius: 6px;
}

.no-underline {
    text-decoration: none;
}

.line-separator {
    margin: 10px 0;
    height: 1px;
    background-color: #e1e1e1;
}

.simple-line-separator {
    height: 1px;
    min-height: 1px;
    background-color: #e1e1e1;
}

.simple-half-line-separator {
    height: 1px;
    width: 50%;
    background-color: #e1e1e1;
}

.block {
    display: block !important;
}

.background-partial-2 {
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.rounded-style-1 {
    height: 50px;
    width: 50px;
}

.size60 {
    height: 60px;
    width: 60px;
}

.size28{
    height: 28px;
    width: 28px;
}

.size36 {
    height: 36px;
    width: 36px;
}

.size40 {
    height: 40px;
    width: 40px;
}

.size48 {
    height: 48px;
    width: 48px;
}

.size24 {
    width: 24px;
    height: 24px;
}

.size16 {
    width: 16px;
    height: 16px;
}

.size17 {
    width: 17px;
    height: 17px;
}

.size18 {
    width: 18px;
    height: 18px;
}

.size20 {
    width: 20px;
    height: 20px;
}

.size14 {
    height: 14px;
    width: 14px;
}

.size12 {
    height: 12px;
    width: 12px;
}

.size7 {
    height: 7px;
    width: 7px;
}

.rounded {
    border-radius: 50% !important;
}

.green-message-container {
    padding: 12px;

    background-color: rgb(211, 242, 211);
    border-radius: 4px;
    border: 1px solid rgb(138, 200, 138);
}

.green-message {
    margin: 0;
    color: rgb(5, 68, 5);
    font-size: 13px;
    font-weight: bold;
}

.green {
    color: rgb(56, 162, 47);
}

.back-to-login {
    position: absolute;
    right: 16px;
    top: 16px;
}

.line-bootstraper {
    font-size: 10px;
    color: white;
    margin-right: 6px;
}

.simple-link {
    color: white;
    font-size: 13px;
}

/* middle content */

.dropdown-style {
    padding: 6px;
    border-radius: 3px;
    border: 1px solid rgb(175, 175, 175);
}

.middle-padding {
    padding: 12px 12px 12px 12px;
}

.index-middle-width {
    width: 66%;
    margin: 30px auto;
}

.link-wraper {
    text-decoration: none;
    color: inherit;
}

.current-link-path {
    color: #383e53;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
}
.link-path {
    color: #2ca0ff;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

.link-path:hover {
    color: rgb(44, 87, 204);
}

.black-link {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.black-link:hover {
    color: #2ca0ff;
}

.pointer{
    cursor: pointer;
}

.hidden-overflow {
    overflow: hidden;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* login */

#login-top-logo {
    display: block;
    width: 46%;
}

.auth-card {
    box-sizing: border-box;
    padding: 28px;
    width: 36%;
    min-width: 380px;
    margin: 26px auto 0 auto;
    border-radius: 6px;

    border: 1px solid #d7d7d7;
    background-color: white;
}

.input-style {
    padding: 8px 10px;
    border: 1px solid gray;
    font-size: 14px;
    border-radius: 4px;
    min-width: 300px;
}

.input-style-1 {
    padding: 8px 10px;
    border: 1px solid rgb(145, 145, 145);
    font-size: 14px;
    border-radius: 4px;
    min-width: 300px;
    margin-top: 4px;
}

.input-style-1:focus {
    border-color: rgb(47, 185, 240);
    outline: 4px solid rgba(33, 192, 255, 0.19);
}

.input-style-2 {
    padding: 6px 8px;
    border: 1px solid rgb(145, 145, 145);
    font-size: 13px;
    border-radius: 4px;
    min-width: 260px;
}

.search-forum-button {
    width: 40px;
    height: 30px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    cursor: pointer;

    background-color: #353946;
    background-image: url(../assets/images/icons/search.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
}

.search-forum-button:hover {
    background-color: #181a22;
}

.middle-padding-1 {
    padding: 16px;
}

.label-style {
    display: flex;
    font-size: 14px;
    margin-bottom: 4px;
}

.label-style-1 {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 4px;
    color: #1e2027;
}

.label-style-2 {
    display: flex;
    font-weight: bold;
    font-size: 14px;
    margin: 0 5px 0 0;
    color: #1e2027;
}

.mini-label {
    font-size: 12px;
    margin: 0;
    margin-bottom: 2px;
    color: #1e2027;
}

.link-style {
    display: flex;
    color: #2ca0ff;
    text-decoration: none;
    font-size: 13px;
}

.link-style:hover {
    text-decoration: underline;
}

.link-without-underline-style {
    display: flex;
    color: #2ca0ff;
    text-decoration: none;
    font-size: 13px;
}

.simple-white-button {
    border: none;
    display: block;
    color: black;
    background-color: white;
    border-radius: 4px;
    padding: 6px;
    margin: 0 2px;

    text-decoration: none;
    font-size: 11px;
}

.simple-white-button:hover {
    background-color: #a8d8ff;
}

.button-style {
    display: flex;
    border-radius: 4px;
    padding: 8px 12px;
    color: white;
    background-color: #353946;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.button-style:hover {
    background-color: #1e2027;
}

.button-style-1 {
    border-radius: 4px;
    padding: 7px 12px;
    color: white;
    background-color: #353946;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.button-style-1:hover {
    background-color: #1e2027;
}

.button-with-icon {
    border-radius: 4px;
    padding: 8px 12px 8px 28px;
    color: white;
    background-color: #353946;
    cursor: pointer;
    text-decoration: none;
    border: none;
    
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.button-with-icon:hover {
    background-color: #1e2027;
}

.button-with-only-icon {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 6px center;
}

.auth-buton-left-icon {
    left: 12px;
}

.btn-style {
    padding: 10px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 1px 1px 5px 1px #eaeaea;
}

.google-auth-button {
    background-color: white;
    color: rgb(85, 85, 85);
    border: 1px solid #ddd
}

.facebook-auth-button {
    background-color: #4267B2;
    color: white;
}

.facebook-auth-button:hover {
    background-color: #345391;
}

.twitter-auth-button {
    background-color: #03A9F4;
    color: white;
}

.twitter-auth-button:hover {
    background-color: #0097dd;
}

.google-auth-button:hover {
    background-color: rgb(251, 251, 251);
    border-color: #b8e4ff;
    box-shadow: 1px 1px 5px 1px #ccebff;
}

.input-container {
    margin: 8px 0;
}

#forums-section {
    padding: 20px 0;
}

.table-col-header {
    font-size: 10px;
    font-weight: bold;
    border-collapse: collapse;
    color: rgba(0, 0, 0, 0.5);
}

.table-row-title {
    font-size: 17px;
    margin: 0;
    color: #353946;
}

.forums-table {
    width: 100%;
    position: relative;
    border-spacing: 0px;
    border: 1px solid #e3e3e3;
}
  
td, th {
    border-bottom: 1px solid #d5d5d5;
    text-align: left;
}

table td, table td * {
    vertical-align: top;
}

th {
    padding: 8px;
    position: sticky;
    z-index: 2;
    top: 52px; /* Don't forget this, required for the stickiness */
    box-shadow: 0 5px 6px -1px rgba(159, 159, 159, 0.2);
    background-color: rgb(250, 250, 250);
}

td {
    padding: 8px 10px 6px 10px;
}

tr:nth-child(2n) {
    background-color: rgb(246, 246, 246);
}

.table-numbered-column {
    width: 46px;
}

.table-last-post {
    min-width: 160px;
}

.table-resource-last-post {
    min-width: 160px;
    max-width: 160px;
}

.forum-table-row-image {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.forum-category-link-header {
    margin: 0;
    font-size: 15px;
}

.forum-style-link {
    color: black;
    text-decoration: none;
}

.dark-blue {
    color: #257bc2 !important;
}

.forum-style-link:hover {
    color: rgb(48, 132, 201);
}

.forum-category-description {
    font-size: 13px;
    margin: 0;
    margin-top: 3px;
}

#page-title {
    margin: 6px 0 18px 0;

    color: #1e2027;
}

.page-subtitle {
    margin: 6px 0 18px 0;
    font-size: 20px;
    color: #1e2027;
}

.background-style {
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
}

.adv-search-button {
    height: 23px;
    width: 23px;
}

.default-cursor {
    cursor: default !important;
}

.pagination-disabled {
    cursor: default;
}

.pag-active:hover {
    background-color: #4d5264;
    border-color: #4d5264;
    color: white;
}

.pagination-item-selected {
    background-color: #4d5264 !important;
    border-color: #4d5264 !important;
    color: white !important;
}

.pagination-item {
    display: flex;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid #ccc;
    color: black;
    margin: 0 1px;
    border-radius: 4px;
}

.thread-container {
    margin-top: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 2px 2px 8px 1px #eee;
}

.thread-main-section {
    width: calc(100% - 37px);
    box-sizing: border-box;
}

.frt-error {
    display: none;
    margin: 2px 4px;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.page-title-icon {
    padding-left: 46px;
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 30px;
}

.vote-section, .post-vote-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(241, 241, 241);
    border-right: 1px solid rgb(206, 206, 206);
}

/* vs: vote section */
.thread-vs, .post-vs {
    padding: 8px;
    width: 22px;
    border-radius: 6px 0 0 6px;
}

.post-vote-button {
    display: flex;
    width:24px;
    height:24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
}

.align-end {
    align-items: flex-end;
}

.tooltip {
    display: none;
    position: absolute;
}

.tooltip-style-1 {
    width: max-content;
    top: calc(100% + 4px);
    left: 0;
    padding: 6px 8px;
    font-size: 12px;
    font-weight: bold;
    background-color: #00000091;
    color: white;
    margin: 0;
    border-radius: 4px;

    z-index: 5;
}
.tooltip-style-2 {
    max-width: 160px;
    padding: 8px 10px;
    font-size: 13px;
    font-weight: bold;
    background-color: #000000e6;
    color: white;
    margin: 0;
    border-radius: 4px;
}



.post-main-component {
    margin: 10px 0;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px 1px #f4f4f4;
    border-radius: 6px;
}

.post-main-section {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
}

.post-main-content {
    font-size: 17px;
    line-height: 1.6;
    padding-left: 12px;
    box-sizing: border-box;
}

.post-replied-by-container {
    margin-left: auto;
}

.post-replied-by-avatar {
    width: 33px;
    height: 33px;
    border-radius: 3px;
}

.post-replied-by-username {
    text-decoration: none;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    color: #2ca0ff;
    margin: -2px 0 0 6px;
}

.post-reply-by-ach {
    font-size: 12px;
    margin: -2px 0 0 6px;
}

.button1-separator {
    margin: 0 6px;
    height: 8px;
    width: 2px;
    background-color: rgb(129, 129, 129);
}

.page-section-button {
    display: flex;
    color: #393d4e;
    border: 1px solid #666d8a;
    text-decoration: none;
    font-size: 11px;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 8px;
    margin: 0 3px;
}

.page-section-button:hover {
    background-color: #666d8a;
    color: white;
}

.page-section-button-selected {
    background-color: #666d8a;
    color: white;
}

.simple-button {
    width: max-content;
    display: flex;
    padding: 4px 6px;
    font-size: 12px;
    background-color: #393d4e;
    border: none;
    color: white;
    font-size: bold;
    text-decoration: none;
    border-radius: 4px;
}

.form-column-line-separator {
    height: 1px;
    background-color: rgb(177, 177, 177);
    width: 60px;
    margin: 3px 0;
}

.image-size-1 {
    display: flex;
    width: 80px;
    height: 80px;
}

.small-image {
    display: flex;
    width: 20px;
    height: 20px;
}

.small-image-1 {
    display: flex;
    width: 36px;
    height: 36px;
}

.small-image-2 {
    display: flex;
    width: 17px;
    height: 17px;
}

.small-image-3 {
    display: flex;
    width: 22px;
    height: 22px;
}

.small-image-size {
    display: flex;
    height: 13px;
    width: 13px;
}

.tiny-image {
    display: flex;
    height: 10px;
    width: 10px;
}

.white-sprite {
    background-image: url(../assets/images/icons/white-sprite.png);
}

.black-sprite-icon {
    background-image: url(../assets/images/icons/sprite.png);
}

.sprite-size {
    min-width: 20px;
    height: 20px;
    
    background-size: 20px;
}

.sprite-size-2 {
    min-width: 32px;
    height: 32px;
    
    background-size: 32px;
}

.sprite-icon {
    min-width: 20px;
    height: 20px;

    background-image: url(../assets/images/icons/white-sprite.png);
    background-size: 20px;
}

.sprite-2-size {
    background-size: 200%;
}

.sprite-contain {
    background-size: contain;
}

.sprite-icon-small {
    display: flex;
    background-size: 159px 159px;
}

.table-row-button {
    display: block;
    width: 20px;
    height: 20px;
    margin: 2px 0;
    border-radius: 50%;
}

.suboption-style-left {
    right: 0;
    align-items: center;
    top: 100%;
    width: max-content;
    padding: 4px;
    border-radius: 4px;
    color: white;
    background-color: #363945;
}

.toggle-container {
    display: none;
}

.feedback-textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    border: 1px solid gray;
    border-radius: 6px;
    max-height: 120px;
    max-width: 100%;
}

.ms-table-small-button {
    padding: 2px 6px;
    margin-left: -4px;
    color: gray;
    border: 1px solid rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.ms-table-small-button:hover {
    background-color: gray;
    color: white;
}

.mstsb-selected {
    background-color: gray;
    color: white;
}

.ms-right-panel {
    padding: 10px;
    border-radius: 4px;
    margin-left: 8px;
    min-width: 280px;
    width: 280px;
    height: max-content;
    background-color: rgb(250, 250, 250);
    border: 1px solid;
    border-color: rgb(215, 215, 215);
}

.us-user-media-container {
    margin-top: 14px;
    border-radius: 6px;
    overflow: hidden;
}

.us-cover-container {
    border-radius: 6px;
    width: 100%;
    height: 160px;
    background-color: #666d8a;
    overflow: hidden;
}

.us-settings-cover-container {
    border-radius: 6px;
    width: 100%;
    height: 150px;
    background-color: #666d8a;
    overflow: hidden;
}

.us-cover {
    max-width: 100%;
    width: 100%;
}

.us-after-cover-section {
    margin-top: -78px;
    margin-left: 40px;
}

.us-profile-picture-container {
    width: 144px;
    height: 144px;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
}

.us-settings-profile-picture-container {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
}

.us-profile-picture {
    padding: 8px;
    border-radius: 8px;
}

.us-settings-profile-picture {
    z-index: 1;
}

.ms-profile-infos-container {
    margin-left: 10px;
    margin-top: 88px;
    width: 100%;
}

.x-button {
    width: 7px;
    height: 7px;

    top: 3px;
    right: 3px;
    padding: 6px;
    background-color: #00000075;
}

.button-wraper-style {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 7px;
    border: 1px solid #888;

    border-radius: 4px;
}

.button-wraper-style:hover {
    border-color: #009fffad;
    background-color: #009fffad;
}

.button-mini-wraper-style {
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    padding: 2px 4px;
    border: 1px solid #888;

    border-radius: 4px;
}

.button-mini-wraper-style:hover {
    border-color: #009fffad;
    background-color: #009fffad;
}



.us-user-info-container {
    padding: 14px;
    margin-top: 12px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.update-avatar-bottom-section {
    opacity: 0.6;
    background-color: #181a22;
    border-radius: 8px;
    position: absolute;
    bottom: 0;

    padding: 10px 0;

    width: 100%;
    z-index: 2;
}

.update-avatar-bottom-section:hover {
    opacity: 1;
}

.change-cover-cont {
    border-radius: 6px;
    background-color: #00000024;
}

.change-cover-cont:hover {
    background-color: #0000003f;
}

.informer-message-container {
    display: none;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid rgb(208, 208, 208);
    background-color: white;

    width: max-content;
}

.informer-message {
    color: rgb(32, 32, 32);
    margin: 0;
    font-size: 13px;
}

.remove-informer-message-container {
    width: 9px;
    height: 9px;
    padding: 3px;
    margin-left: 6px;
    background-color: #00000075;
}

.left-middle-triangle {
    z-index: 0;
    left: -11px;
    position: absolute;
    border-color: transparent transparent rgb(173, 173, 173) transparent;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    height: 0px;
    width: 0px;
    display: inline-block;
    transform: rotate(-90deg);
}

.best-reply-ticket {
    margin: 0;
    margin-right: 14px;
    padding: 6px 12px;
    border-radius: 7px;
    background-image: linear-gradient(70deg, rgb(67, 170, 83) 21%, rgba(29, 115, 40, 0.57) 117%);
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.user-component-container {
    border: 1px solid #b9b9b9;
    border-radius: 6px;
    padding: 8px;
    margin: 5px 0;
    box-shadow: 0 0 5px 0.2px #0000001a;
}

.notification-type-icon {
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    right: 5px;
    bottom: 0px;
}

.resource-like-container {
    display: flex;
    align-items: center;
    margin: 0 6px;
    padding: 5px 7px;
    border-radius: 4px;
}

.resource-like-container:hover {
    background-color: #f0f0f0;
}

.hidden-notification-container {
    position: fixed;
    opacity: 0;
    z-index: 10;
    bottom: 26px;
    left: 26px;

    padding: 8px 38px 8px 8px;
    width: 340px;
    height: max-content;
    max-height: 90px;
    box-sizing: border-box;
    
    background-color: #f9f9f9;
    border: 1px solid #b8b8b8;
    border-radius: 8px;
}

.hidden-notification-type-icon {
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 24px;
    height: 24px;
}

.basic-notification-container {
    position: fixed;
    display: flex;
    z-index: 10;
    bottom: 26px;
    left: 26px;

    padding: 16px;
    max-width: 340px;
    min-width: 290px;
    box-sizing: border-box;
    color: white;
    background-color: #0e0e0ee6;
    border-radius: 8px;
}

.x-close-container-style {
    position: absolute;
    z-index: 1;
    right: 6px;
    top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 20px;
    width: 20px;
    min-width: 20px;
    border-radius: 50%;
    background-color: #0000006b;
    color: white;
}

.x-close-container-style:hover {
    background-color: black;
}

.x-close {
    font-size: 10px;
}

.see-all-full-style {
    background: unset;
    border: unset;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    color: #257bc2;
    text-decoration: none;
    padding: 10px;
    font-size: 13px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.see-all-full-style:hover {
    background-color: #e9e9e9;
}

.notifications-wrapper {
    padding: 14px;
    margin: 0 auto;
    width: 50%;

    background-color: white;
    border: 1px solid rgb(227, 227, 227);
    box-shadow: 0 0 6px 0px #0000001f;
    border-radius: 6px;
}

.notification-menu-button-container {
    position: absolute;
    right: 10px;

    height: 24px;
    width: 24px;
}

.suboptions-container-right-style {
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    padding: 6px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid rgb(177, 177, 177);
    width: max-content;
}

.simple-button-suboptions-container {
    position: absolute;
    right: 0;
    top: 30px;
    padding: 6px;
    background-color: white;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px 0px #62626233;
    border-radius: 4px;
}

.thread-add-container {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #dbdbdb;
}

.thread-add-header {
    padding: 6px;
    background-color: rgb(244, 244, 244);
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #dbdbdb;
}

.thread-add-posted-to {
    padding: 6px;
    background-color: rgba(172, 201, 240, 0.31);
    border-radius: 4px;
}

.thread-add-posted-to:hover {
    background-color: rgba(140, 191, 255, 0.44);
}

.audience-button {
    padding: 5px 8px;
    border-radius: 5px;
}

.audience-button:hover {
    background-color: rgb(233, 233, 233);
}

.thread-add-suboptions-container {
    position: absolute;
    top: calc(100% + 2px);
    padding: 6px;
    background-color: white;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px 0px #62626233;
    border-radius: 4px;
    min-width: 160px;
}

.thread-add-suboption {
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.thread-add-suboption-selected {
    background-color: #f0f0f0;
}

.thread-add-suboption:hover {
    background-color: #f4f4f4;
}

.thread-add-input {
    padding: 8px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid gray;
}

.thread-add-input:focus {
    border-color: #64ceff;
    box-shadow: 0 0 0px 3px #def2ff;
}

.thread-add-label {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: bold;
}

.thread-add-share {
    display: flex;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 12px;
    background-color: #4d5264;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}

.thread-add-share:hover {
    background-color: #383e53;
}

.thread-add-file-input {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;

    cursor: pointer;
}

.thread-add-button-hover-style {
    border-radius: 4px;
    padding: 3px 6px;
}

.thread-add-button-hover-style:hover {
    background-color: #ececec;
}

.thread-add-uploaded-media {
    display: flex;
    justify-content: center;

    height: 99px;
    width: 99px;
    min-width: 99px;
    border-radius: 8px;
    background-color: #d5d5d5;
    overflow: hidden;
    margin: 3px;
}

.thread-add-video-indicator {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.479);
}

/* index thread component */

#threads-header-strip {
    padding: 4px 6px;
    border-radius: 2px 2px 0 0;
    border: 1px solid rgb(197, 197, 197);
}

.thread-container-box {
    margin-bottom: 12px;
    border-radius: 6px;
    box-shadow: 0 0 6px 0.2px #0000000f;
    border: 1px solid #d0d0d0;
}

.thread-vote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 8px;
    border-radius: 6px 0 0 6px;
    background-color: #f2f2f2;
    border-right: 1px solid #d0d0d0;
    width: 37px;
    box-sizing: border-box;
}

.thread-header-section {
    display: flex;
    align-items: center;
    padding: 5px;
    height: 32px;
    border-bottom: 1px solid #d0d0d0;
    background-color: #f2f2f2;
    border-radius: 0 6px 0 0;
}

.thread-status-changer {
    border-radius: 4px;
    padding: 0 4px;
}

.thread-status-changer:hover {
    background-color: #dbdbdb;
}

.thread-content-section {
    background-color: white;
    padding: 10px;
}

.thread-content-section:hover {
    background-color: #f9fcff;
}

.thread-views {
    display: flex;
    align-items: center;
    padding: 3px 6px;
    border-radius: 4px;

    border: 1px solid #d5d5d5;
    transition: 0.4s ease background-color;
}

.thread-views:hover {
    background-color: rgb(250, 250, 250);
}

.thread-react-hover {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 3px 5px;
    margin-right: 4px;
    border-radius: 4px;
    transition: 0.5s ease background-color;
}

.thread-react-hover:hover {
    background-color: #ececec;
}

.thread-bottom-section {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    height: 22px;
    border-top: 1px solid #e1e1e1;
    background-color: white;
    border-radius: 0 0 6px 0 ;
}

.thread-medias-container {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 0;
}

.thread-media-container {
    width: 100%;
    max-height: 620px;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-shadow-stretched {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

.thread-media-options {
    position: absolute;
    z-index: 10;
    right: 3px;
    top: 3px;

    background-color: #ffffffb3;
    padding: 4px;
    border-radius: 4px;
}

.thread-media-options:hover {
    background-color: white;
}

#thread-media-viewer {
    display: flex;
    position: fixed;
    top: 52px;
    z-index: 20;
    width: 100%;
    left: 0;
}

.thread-media-viewer-content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.thread-media-viewer-infos-section {
    min-width: 360px;
    max-width: 360px;
    background-color: white;
}

.close-thread-media-viewer {
    position: absolute;
    z-index: 5;
    right: 6px;
    top: 6px;
    color: white;
    background-color: #0000003d;
    font-size: 25px;
    padding: 4px 11.1px 6px 11.5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.8s ease background-color;
}

.close-thread-media-viewer:hover {
    background-color: #3e3e3e;
}

.thread-viewer-nav {
    cursor: pointer;
    color: white;
    position: absolute;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 64px;
    opacity: 0.4;
    background-color: #35353552;
}

.thread-viewer-nav:hover {
    background-color: #3535358e;
    opacity: 1;
}

.thread-viewer-left {
    left: 0;
}

.thread-viewer-right {
    right: 0;
}

.thread-viewer-medias-indicator {
    color: #ffffffb0;
    background-color: #0000000d;
    position: absolute;
    right: 70px;
    top: 6px;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 18px;
}

.thread-viewer-medias-indicator:hover {
    color: white;
}

.thread-media-viewer-infos-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 65px;
    height: 65px;
    padding: 8px;
    box-sizing: border-box;
    border-bottom: 1px solid #dbdbdb;
}

.thread-media-viewer-infos-content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    height: 100%;
}

.viewer-thread-reply {
    padding: 6px;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
}

.thread-viewer-reply-content {
    margin-top: 4px;
    padding: 6px 8px;
    background-color: #c4c4c454;
    border-radius: 8px;
}

.thread-viewer-reply-content * {
    margin-top: 2px;
    margin-bottom: 2px;
}

.viewer-ticked-reply {
    background-color: #bdffaf3d;
    border-radius: 6px;
    border: 1px solid #5fa65f59;
}

/* --- --- --- */

.follow-container {
    background-color: white;
    border-radius: 10px;
    width: 380px;
    margin: 58px auto 0 auto;
    overflow: hidden;
}

.follow-box-header {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    border-bottom: 1px solid #e3e3e3;
}

.follow-box-body {
    height: 380px;
    overflow-y: scroll;

    padding: 4px;
}

.close-button-style {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    margin-left: 1px;
    margin-top: -1px;
    font-weight: bold;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(219, 219, 219, 0.49);
    color: black;
}

.close-button-style:hover {
    background-color: rgba(219, 219, 219, 0.86);
}

.follow-box-item {
    display: flex;
    padding: 6px;
    border-radius: 6px;
}

.follow-box-item:hover {
    background-color: #f9f9f9;
}

.report-resource-container {
    position: fixed;
    z-index: 80;
    top: 70px;
    left: 0;
    transform: translate(calc(50vw - 50%));
    width: 600px;
    padding: 20px;
    border: 1px solid rgb(179, 179, 179);
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 5px 0px #0000001f;
}

.report-section-textarea {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 100%;
    padding: 10px;
    margin: 8px 0 2px 0;
    box-sizing: border-box;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
}

.report-section-textarea:focus {
    box-shadow: 0 0 0px 3px #def2ff;
    border-color: #64ceff;
}

.resource-report-option {
    display: flex;
    cursor: pointer;
    margin: 4px 0;
    padding: 8px;
    border-radius: 4px;
}

.resource-report-option:hover {
    background-color: #f7f7f7;
}

.child-to-be-opened {
    height: 0;
    overflow: hidden;
}
