body {
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #49516a12;
}

main {
    background-color: rgb(250, 250, 250);
}

a, input, textarea {
    outline: none;
}

.fs14 {
    font-size: 14px;
}

.fs13 {
    font-size: 13px;
}

.fs12 {
    font-size: 13px;
}

.fs11 {
    font-size: 11px;
}

.fs10 {
    font-size: 10px;
}

.error {
    color: rgb(228, 48, 48);
    margin: 3px 0;
    font-size: 13px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.move-to-right {
    margin-left: auto;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.move-to-middle {
    margin: 0 auto;
}

.h-menu {
    display: flex;
    align-items: center;
}

.menu-link-button {
    display: flex;
    padding: 8px 10px;
    border-radius: 4px;
    font-weight: 600;
    color:#dadada;
    font-size: 14px;
    text-decoration: none;
    transition: 1s background-color;
}

.menu-link-button:hover {
    color: white;
    background-color: rgba(245, 245, 245, 0.226);
}

.mx4 {
    margin-left: 4px;
    margin-right: 4px;
}

.suboption-style-1 {
    display: flex;
    padding: 10px 12px;
    font-weight: 600;
    color:#202020;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    transition: 1s background-color;
}

.suboption-style-1:hover {
    background-color: rgb(221, 221, 221);
}

.menu-separator {
    color: white;
    margin: 0 6px;
}

.menu-separator2 {
    color: white;
    font-size: 13px;
    margin: 0 3px;
}

.white {
    color: white;
}

.no-margin {
    margin: 0;
}

.search-forum {
    display: flex;
    margin: 0 10px
}

.search-field {
    padding: 10px 16px;
    padding-left: 32px;

    font-size: 13px;
    
    min-width: 270px;
    border-radius: 6px;
    border: none;

    background-image: url(../assets/images/icons/black-search.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.search-button {
    display: flex;
    cursor: pointer;
    border: none;
    background-color: rgb(58, 186, 236);
    color: white;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;

    margin-left: -10px;

    transition: 1s ease background-color;
}

.search-button:hover {
    background-color: rgb(44, 154, 197);
}

#search-and-login {
    margin-right: 16px;
}

.background-partial {
    padding-left: 28px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 6px center;
}

.background-partial-1 {
    padding-left: 42px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

#login-signin-button {
    background-image: url(../assets/images/icons/login.png);
}

.feedback-icon {
    background-image: url(../assets/images/icons/feedback.png);
}

.notifications-icon {
    background-image: url(../assets/images/icons/notification.png);
}

.profile-icon {
    background-image: url(../assets/images/icons/profile.png);
}

.bquestion-icon {
    background-image: url(../assets/images/icons/questions.png);
}

.logout-icon {
    background-image: url(../assets/images/icons/logout.png);
}

.wmenu-icon {
    background-image: url(../assets/images/icons/wmenu.png);
}

.edit-icon {
    background-image: url(../assets/images/icons/edit.png);
}

.question-icon {
    background-image: url(../assets/images/icons/question.png);
}

.fire-icon {
    background-image: url(../assets/images/icons/fire.png);
}

.article-icon {
    background-image: url(../assets/images/icons/article.png);
}

.settings-icon {
    background-image: url(../assets/images/icons/settings.png);
}

.bsettings-icon {
    background-image: url(../assets/images/icons/bsettings.png);
}

.calendar-icon {
    background-image: url(../assets/images/icons/calendar.png);
}

.feather-icon {
    background-image: url(../assets/images/icons/feather.png);
}

.qst-icon {
    background-image: url(../assets/images/icons/qst.png);
}

.popular-icon {
    background-image: url(../assets/images/icons/popular.png);
}

.users-icon {
    background-image: url(../assets/images/icons/users.png);
}

.suboptions-container {
    z-index: 1;
}

.suboptions-buttons-style {
    display: none;
    align-items: center;
    position: absolute;
    top: 37px;
    width: 200px;
    background-color: #363945;
    border-top: 1px solid #62687e;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.suboptions-account-style {
    display: none;
    position: absolute;
    top: 48px;
    right: 0;
    width: 240px;
    background-color: white;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 6px;
}

.triangle {
    z-index: 0;
    top: -16px;
    right: 15px;
    position: absolute;
    border-color: transparent transparent #ffffff transparent;
    border-style: solid;
    border-width: 8px 8px 8px 8px;
    height: 0px;
    width: 0px;
    display: inline-block;
}

.full-shadowed {
    z-index: 80;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.58);

    transition: 1s ease opacity;
}

.no-underline {
    text-decoration: none;
}

.line-separator {
    margin: 10px 0;
    height: 1px;
    background-color: #d3d3d3;
}

.block {
    display: block;
}

.close-shadowed-view {
    position: absolute;
    display: block;

    top: 30px;
    right: 30px;

    height: 36px;
    width: 36px;

    border-radius: 50%;

    background-image: url(../assets/images/icons/wx.png);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;

    transition: 1s ease background-color;
}

.close-shadowed-view:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.header-profile-button {
    display: flex;
    height: 40px;
    width: 40px;
    margin: 0 4px;

    border-radius: 50%;
    background-color: #181a22;
}

.header-profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.background-partial-2 {
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.rounded-style-1 {
    height: 50px;
    width: 50px;
}

.rounded {
    border-radius: 50%;
}

.rounded-style-1 {
    height: 30px;
    width: 30px;
}

.first-profile-container-part {
    padding: 10px 10px 6px 10px;
    background-color: whitesmoke;
    border-bottom: 1px solid #d7d7d7;

    margin-bottom: 6px;
}

.green-message-container {
    padding: 12px;

    background-color: rgb(186, 238, 186);
    border-radius: 4px;
    border: 1px solid rgb(145, 196, 145);
}

.green-message {
    margin: 0;
    color: rgb(6, 54, 6);
    font-size: 13px;
    font-weight: bold;
}

.back-to-login {
    position: absolute;
    right: 16px;
    top: 16px;
}

/* Left-panel */
#left-panel {
    position: fixed;
    left: 0;

    padding: 30px 0 0 30px;
    color: white;
    overflow-y: scroll;
    min-width: 250px;
    box-sizing: border-box;

    background-color: #5d6275;
}

.lp-padding {
    padding: 8px 8px 8px 28px;
}

.lp-wpadding {
    padding: 8px;
}

.left-panel-item {
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    text-decoration: none;
}

.left-panel-item:hover {
    color: white;
}

.left-panel-label {
    font-weight: bold;
    font-size: 11px;
    color: rgb(190, 190, 190);
}

.lp-selected, .lp-sub-selected {
    background-color: #4d5264;
}

.selected-colored-slice {
    position: absolute;
    right: 0;
    height: 100%;
    width: 6px;
    background-color: rgb(58, 186, 236);
}

.left-panel-sub-items {
    padding-left: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #79809b;
}

.lp-sub-item {
    font-size: 12px;
    padding: 4px 8px;
}

.line-bootstraper {
    font-size: 10px;
    color: white;
    margin-right: 6px;
}

.simple-link {
    color: white;
    font-size: 13px;
}

/* middle content */

.dropdown-style {
    padding: 6px;
    border-radius: 3px;
    border: 1px solid rgb(175, 175, 175);
}

.middle-padding {
    padding: 30px 12px 12px 12px;
}

.current-link-path {
    color: #383e53;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
}
.link-path {
    color: #383e53;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

.link-path:hover {
    color: rgb(44, 87, 204);
}

.black-link {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.black-link:hover {
    color: #437c59;
}

/* login */

#login-top-logo {
    display: block;
    width: 60%;
}

.auth-card {
    box-sizing: border-box;
    padding: 30px 46px;
    width: 36%;
    border-radius: 6px;
    margin: 26px auto;

    border: 1px solid #d7d7d7;
    background-color: whitesmoke;
}

.input-style {
    padding: 8px 10px;
    border: 1px solid gray;
    font-size: 14px;
    border-radius: 4px;
    min-width: 300px;
}

.input-style-1 {
    padding: 8px 10px;
    border: 1px solid rgb(145, 145, 145);
    font-size: 14px;
    border-radius: 4px;
    min-width: 300px;
    margin-top: 4px;
}

.input-style-1:focus {
    border-color: rgb(47, 185, 240);
    outline: 4px solid rgba(33, 192, 255, 0.19);
}

.input-style-2 {
    padding: 6px 8px;
    border: 1px solid rgb(145, 145, 145);
    font-size: 13px;
    border-radius: 4px;
    min-width: 220px;
}

.search-forum-button {
    width: 40px;
    height: 30px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    cursor: pointer;

    background-color: #353946;
    background-image: url(../assets/images/icons/search.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
}

.search-forum-button:hover {
    background-color: #181a22;
}

.middle-padding-1 {
    padding: 30px;
}

.label-style {
    display: flex;
    font-size: 14px;
    margin-bottom: 4px;
}

.label-style-1 {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 4px;
    color: #1e2027;
}

.mini-label {
    font-size: 12px;
    margin: 0;
    color: #1e2027;
}

.link-style {
    color: rgb(58, 153, 232);
    text-decoration: none;
}

.button-style {
    border-radius: 4px;
    padding: 12px 16px;
    color: white;
    background-color: #353946;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.button-style:hover {
    background-color: #1e2027;
}

.button-style-1 {
    border-radius: 4px;
    padding: 7px 12px;
    color: white;
    background-color: #353946;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.button-style-1:hover {
    background-color: #1e2027;
}

.input-container {
    margin: 8px 0;
}

#forums-section {
    padding: 36px 0;
}

.table-col-header {
    font-size: 10px;
    font-weight: bold;
    border-collapse: collapse;
    color: rgba(0, 0, 0, 0.5);
}

.forums-table {
    width: 100%;
    border-spacing: 0px;
}
  
td, th {
    border-bottom: 1px solid #e7e7e7;
    text-align: left;
}

table td, table td * {
    vertical-align: top;
}

th {
    padding: 8px;
}

td {
    padding: 12px 14px;
}

tr:first-child {
    
}
tr:nth-child(2n) {
    background-color: rgb(240, 240, 240);
}

.table-numbered-column {
    width: 46px;
}

.table-last-post {
    width: 160px;
}

.forum-category-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgb(54, 54, 54);
}

.forum-category-link-header {
    margin: 0;
    font-size: 15px;
}

.forum-style-link {
    color: black;
    text-decoration: none;
}

.forum-style-link:hover {
    color: rgb(48, 132, 201);
}

.forum-category-icon-container {
    margin-right: 10px;
}

.forum-category-description {
    font-size: 13px;
    margin: 0;
    margin-top: 3px;
}

#right-panel {
    width: 270px;
    height: 400px;
    background-color: gray;
    border-radius: 6px;

    position: absolute;
    right: 6px;
    top: 6px;
}

#page-title {
    margin: 6px 0 18px 0;

    color: #1e2027;
}

.background-style {
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
}

.adv-search-button {
    height: 26px;
    width: 26px;
}

.pagination-item {
    display: flex;
    margin: 0 3px;
    padding: 6px 10px;
    background-color: #353946;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.table-row-title {
    font-size: 17px;
    margin: 0;
    color: #353946;
}