header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: #333b4a;
}

#header {
    height: 48px;
    display: flex;
    align-items: center;
}

#header-logo-container {
    margin: 0 16px;
}   

#header-logo {
    display: flex;
    margin: 0 8px;
    height: 48px;
}

.first-profile-container-part {
    padding: 6px;
    background-color: whitesmoke;
    border-bottom: 1px solid #d7d7d7;
}

.header-profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    margin: 0 4px;
    overflow: hidden;

    border-radius: 50%;
}

main {
    margin: 0 auto;
    margin-top: 48px;
}

.menu-button-style {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: rgb(190, 190, 190);
    padding: 0 16px;
    height: 100%;
    font-size: 13px;
    border-left: 1px solid #222935;
}

.menu-button-style:last-child {
    border-right: 1px solid #222935;
}

.menu-button-style:hover {
    color: white;
    background-color: #3f4859c4;
}