header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: #333b4a;
}

#header {
    height: 48px;
    display: flex;
    align-items: center;
}

#header-logo-container {
    margin: 0 16px;
}   

#header-logo {
    display: flex;
    margin: 0 8px;
    height: 48px;
}

.first-profile-container-part {
    padding: 6px;
    background-color: whitesmoke;
    border-bottom: 1px solid #d7d7d7;
}

.header-profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    margin: 0 4px;
    overflow: hidden;

    border-radius: 50%;
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    margin: 0 4px;
    overflow: hidden;
    background-color: #222935;

    border-radius: 50%;
}

main {
    margin: 0 auto;
    margin-top: 48px;
}

.menu-button-style {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: rgb(190, 190, 190);
    padding: 0 16px;
    height: 100%;
    font-size: 13px;
    border-left: 1px solid #222935;
}

.menu-button-style:last-child {
    border-right: 1px solid #222935;
}

.menu-button-style:hover {
    color: white;
    background-color: #3f4859c4;
}

.header-button-counter-indicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -3px;
    right: -3px;
    width: 18px;
    height: 18px;

    border-radius: 50%;
    background-color: rgb(231, 71, 71);
    color: white;
    font-size: 9px;
    font-weight: bold;
}

.suboptions-container-header {
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.suboptions-header-button-style {
    position: absolute;
    top: 41px;
    right: 0;
    background-color: white;
    border-radius: 6px;
    border: 1px solid rgb(177, 177, 177);
    border-top: unset;
}

.suboptions-container-dims {
    max-height: 440px;
    box-sizing: border-box;
    width: 280px;
    padding: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.notification-component-container {
    display: flex;
    padding: 10px;
    border-radius: 6px;
}

.notification-component-container:hover {
    background-color: rgb(240, 240, 240);
}